<!-- <div>
  <input type="text" [(ngModel)]='name'>
  <input type="checkbox" [(ngModel)]="termsAndConditions">
  <label> Acepto los terminos y condiciones</label>
</div>
<button [disabled]='!termsAndConditions || !name'>
  {{ name.trim() ? 'Has ingresado con el nombre ' + name : 'Ingresa un nombre imbecil' }}
</button> -->
<!-- 
<div>
  <input type="checkbox" [(ngModel)]="adultComponent">
  <label> Verifico que tengo +18 años</label>
</div>

<div *ngIf="adultVerify">
  <input type="checkbox">
  <label> Recibir notificacion sobre nuevos videos</label>
</div> -->

<!-- Directiva *ngIf -->
<!-- <input type="checkbox" [(ngModel)]="adultConfirm">
<label> Verifico que tengo +18 años</label>
<ng-container *ngIf="adultConfirm; then applyToJob; else youHaveToBeAdult"></ng-container>
<ng-template #applyToJob>
  <button>Aplicar al trabajo</button>
</ng-template>
<ng-template #youHaveToBeAdult>
  <p style="color: red">Tienes que ser mayor de edad</p>
</ng-template> -->

<!-- <input type="text" [(ngModel)]='nameHotel' placeholder="Nombre del hotel">
<button (click)='addHotel()'>Add Hotel Bitch</button>

<div *ngFor="let hotel of hotels; let i = index">
  <p>{{ hotel }}</p>
  <button (click)="removeHotel(i)">Borrar</button>
</div> -->

<!-- <div *ngFor="let hotel of hotels">
  <p>{{ hotel.name }}</p>
  <div [ngSwitch]="hotel.tag">
    <p *ngSwitchCase="'free-breakfast'">Almuerzos Incluidos</p>
    <p *ngSwitchCase="'free-launch'">Desayunos Incluidos</p>
    <p *ngSwitchDefault>Sin nada incluido</p>
  </div>
</div> -->

<!-- <div *ngFor="let hotel of hotels">
  <h3>{{ hotel.name }}</h3>
  <p>{{ hotel.description }}</p>
  <p>{{ hotel.price }} GTQ</p>
  <p *ngIf="hotel.tags.length === 0">Sin Etiquetas</p>
  <div *ngFor="let tag of hotel.tags">
    <div [ngSwitch]="tag">
      <p *ngSwitchCase="'psicina'">
        Con una gran psicina :)
      </p>
      <p *ngSwitchCase="'grande'">
        Un hotel muy amplio ;)
      </p>
      <p *ngSwitchDefault>
        Etiqueta aun no implementada >> [{{ tag }}]
      </p>
    </div>
  </div>
</div> -->

<app-hotel></app-hotel>